In [31]:
import requests
import os
import json
import csv

In [33]:
secret_api_key = '956e54502c37e7205167e7e52e3a4a2732cedd812713987dc475fd469bb8dc71'
print("Loaded API Key:", secret_api_key)

Loaded API Key: 956e54502c37e7205167e7e52e3a4a2732cedd812713987dc475fd469bb8dc71

In [59]:
params = {
    "api_key": secret_api_key,
    "engine": "amazon",
    "k": "Digital Watches",
    "amazon_domain": "amazon.in",
    "page":1
}

search = requests.get("https://serpapi.com/search", params=params)
response = search.json()

#print(json.dumps(response,indent=2))

In [83]:
# for result in response.get("organic_results", []):
#     title = result.get("title")
#     brand = result.get("brand")
#     thumbnail = result.get("thumbnail")
#     price = result.get("price")
#     rating = result.get("rating")
#     reviews = result.get("reviews")
#     link = result.get("link")
    
#     print(f"Title: {title}")
#     print(f"Brand: {brand}")
#     print(f"Thumbnail: {thumbnail}")
#     print(f"Price: {price}")
#     print(f"Rating: {rating}")
#     print(f"Reviews: {reviews}")
#     print(f"Link: {link}")
#     print("-" * 10)

In [61]:
all_results = []

# Loop through multiple pages
while True:
    print(f"Scraping page {params['page']}...")
    
    response = requests.get("https://serpapi.com/search.json", params=params).json()

    organic_results = response.get("organic_results", [])
    if not organic_results:
        break  # No more results

    for result in organic_results:
        all_results.append({
            "title": result.get("title"),
            "brand": result.get("brand"),
            "price": result.get("price"),
            "rating": result.get("rating"),
            "reviews": result.get("reviews")
        })

    params["page"] += 1  # Next page

# Write to CSV
with open("digitalwatches.csv", "w", newline="", encoding="utf-8") as csvfile:
    fieldnames = ["title", "brand", "price", "rating", "reviews"]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(all_results)

Scraping page 1...
Scraping page 2...
Scraping page 3...
Scraping page 4...
Scraping page 5...
Scraping page 6...
Scraping page 7...
Scraping page 8...
Scraping page 9...

In [63]:
import pandas as pd

csv_files = ["smartwatches.csv", "Analogwatches.csv", "digitalwatches.csv"]
combined_df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)
combined_df.to_csv("watches.csv", index=False)
print("Combined CSV saved as 'watches.csv'")

Combined CSV saved as 'watches.csv'

In [65]:
df = pd.read_csv("watches.csv")

In [67]:
df.head()

,title,brand,price,rating,reviews
0,Fire-Boltt Ninja Call Pro Plus Smart Watch 1.8...,NaN,₹999,3.9,96054.0
1,Fire-Boltt Phoenix Smart Watch with Bluetooth ...,NaN,"₹1,099",3.9,82577.0
2,Noise Twist Round dial Smart Watch with Blueto...,NaN,"₹1,099",4.0,15003.0
3,Fire-Boltt Ninja Call Pro Plus Smart Watch 1.8...,NaN,₹999,3.9,96054.0
4,"Noise Pulse 2 Max 1.85"" Display, Bluetooth Cal...",NaN,"₹1,099",4.0,17941.0

In [69]:
df.tail()

,title,brand,price,rating,reviews
1195,Boult Newly Launched Crown R Pro Smart Watch 1...,Boult,"₹1,799",4.5,120.0
1196,Analog Digital 3ATM Waterproof Sports Watch fo...,V2A,₹990,4.0,880.0
1197,Chronograph Ultra-Thin Unisex Multi Function D...,V2A,₹599,3.9,1840.0
1198,Analogue - Digital Men's Watch (Green Dial Gre...,V2A,"₹1,090",4.1,614.0
1199,S-Shock Military Green Analog Digital Fashion ...,V2A,"₹1,090",4.2,263.0

In [71]:
df = df.drop_duplicates()

In [75]:
df.dropna(inplace=True)

In [77]:
df.shape

(585, 5)

In [79]:
df.isnull().sum()

title      0
brand      0
price      0
rating     0
reviews    0
dtype: int64

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 585 entries, 396 to 1196
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    585 non-null    object
 1   brand    585 non-null    object
 2   price    585 non-null    object
 3   rating   585 non-null    float64
 4   reviews  585 non-null    float64
dtypes: float64(2), object(3)
memory usage: 27.4+ KB